ytm-pivot-bar-item-renderer:nth-child(2) {
    display: none !important;
}

ytm-reel-shelf-renderer.item.modern-typography {
    display: none !important;
}

ytm-reel-shelf-renderer.modern-typography {
    display: none !important;
}

ytm-rich-section-renderer.rich-section-single-column {
    display: none !important;
}

ytm-reel-shelf-renderer.item {
    display: none !important;
}